@import './components/header.scss';
@import './components/footer.scss';
@import './components/counter.scss';

$backgroundColor: #c3c6c9;

body {
  background-color: $backgroundColor;
  font-family: sans-serif;
  text-align: center;
  margin: 100px 0;
  padding-top: 25px;
}
